{% extends 'base.html.twig' %}

{% block body %}

    <article>
        <h1>{{ article.title }}</h1>
        <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }} dans la categorie politique</div>
        <div class="content">
            <img src="{{ article.image }}" alt="">
            {{ article.content | raw }}
            <hr>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti corporis voluptatum exercitationem, odio hic, saepe velit nostrum esse itaque, fugit labore in iste voluptate ducimus recusandae accusamus facilis commodi voluptates minima modi et odit cumque assumenda sint? Facere dolorem expedita ea corrupti beatae cumque vero totam ipsum officia? Quis, voluptates.</p>
            <p>Cum nihil repellat magnam cumque porro nesciunt incidunt est explicabo, alias, temporibus consequuntur impedit. Distinctio aliquid eveniet quae possimus dolore odio dolorum vel. Cupiditate dolores hic quidem error officia, explicabo laudantium eum facilis, aperiam, sit eligendi soluta vel odio officiis itaque quibusdam? Doloribus nobis perferendis at iste, maiores nulla repellat!</p>
        </div>
    </article>

{% endblock %}