{% extends 'base.html.twig' %}

{% block body %}

    <article>
        <h1>{{ article.title }}</h1>
        <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }} dans la categorie {{ article.category.title }}</div>
        <div class="content">
            <img src="{{ article.image }}" alt="">
            {{ article.content | raw }}
            <hr>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti corporis voluptatum exercitationem, odio hic, saepe velit nostrum esse itaque, fugit labore in iste voluptate ducimus recusandae accusamus facilis commodi voluptates minima modi et odit cumque assumenda sint? Facere dolorem expedita ea corrupti beatae cumque vero totam ipsum officia? Quis, voluptates.</p>
            <p>Cum nihil repellat magnam cumque porro nesciunt incidunt est explicabo, alias, temporibus consequuntur impedit. Distinctio aliquid eveniet quae possimus dolore odio dolorum vel. Cupiditate dolores hic quidem error officia, explicabo laudantium eum facilis, aperiam, sit eligendi soluta vel odio officiis itaque quibusdam? Doloribus nobis perferendis at iste, maiores nulla repellat!</p>
        </div>
    </article>

    <section id="commentaire">
        {% if app.user %}
            <h2>Commenter :</h2>

            {{ form_start(commentForm) }}
            {{ form_row(commentForm.author, {'attr': {'placeholder': "votre nom"}}) }}
            {{ form_row(commentForm.content, {'attr': {'placeholder': "commentaire"}}) }}
            
            <button type="submit" class="btn btn-success">commenter !</button>

            {{ form_end(commentForm) }}
        {% else %}
            <h3>Inscrivez vous ou connectez vous pour commenter !</h3>
            <a href="{{ path('security_login')}}" class="btn btn-primary">
                Connexion
            </a>
        {% endif %}
        <h2>{{ article.comments | length }} Commentaire(s) : </h2>
        {% for comment in article.comments %}
            <div class="comment">
                <div class="row">
                    <div class="col-3">
                        {{ comment.author }} (<small> {{ comment.createdAt | date('d/m/Y à H:i') }}</small>)
                    </div>
                    <div class="col">
                        {{ comment.content | raw }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>

{% endblock %}